{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Basic Page Info -->
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>

    <!-- Site favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'vendors/images/CRF180.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'vendors/images/CRF32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'vendors/images/CRF16.png' %}"
    />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendors/styles/core.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendors/styles/icon-font.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'src/plugins/datatables/css/dataTables.bootstrap4.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'src/plugins/datatables/css/responsive.bootstrap4.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendors/styles/style.css' %}"
    />

    <!-- Datatable -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"
    />
  </head>
  <body>
    <div class="pre-loader">
      <div class="pre-loader-box">
        <div class="loader-logo text-center">
          <img
            src="{% static 'vendors/images/CR01.png' %}"
            alt=""
            width="20%"
          />
        </div>
        <div class="loader-progress" id="progress_div">
          <div class="bar" id="bar1"></div>
        </div>
        <div class="percent" id="percent1">0%</div>
        <div class="loading-text">Loading...</div>
      </div>
    </div>

    <div class="header">
      <div class="header-left d-flex justify-content-center">
        <div class="menu-icon dw dw-menu"></div>
        <a href="index.html">
          <img
            src="{% static 'vendors/images/CR01.png' %}"
            alt=""
            class="dark-logo ml-2"
            style="width: 25vh"
          />
        </a>
      </div>
    </div>

    <div class="left-side-bar">
      <div class="brand-logo">
        <a href="index.html">
          <img
            src="{% static 'vendors/images/CR01.png' %}"
            alt=""
            class="dark-logo"
          />
          <img
            src="{% static 'vendors/images/CR02.png' %}"
            alt=""
            class="light-logo"
          />
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
          <i class="ion-close-round"></i>
        </div>
      </div>
      <div class="menu-block customscroll">
        <div class="sidebar-menu">
          <ul id="accordion-menu">
            <li>
              <a href="/" class="dropdown-toggle no-arrow">
                <span class="micon dw dw-house-1"></span
                ><span class="mtext">Home</span>
              </a>
            </li>
            <li>
              <a
                href="{% url 'reports:index' %}"
                class="dropdown-toggle no-arrow"
              >
                <span class="micon dw dw-bar-chart-1"></span
                ><span class="mtext">Reports</span>
              </a>
            </li>
            <li>
              <a
                href="{% url 'reports:about' %}"
                class="dropdown-toggle no-arrow"
              >
                <span class="micon dw dw-user-12"></span
                ><span class="mtext">About Us</span>
              </a>
            </li>
            <li>
              <a href="invoice.html" class="dropdown-toggle no-arrow">
                <span class="micon dw dw-invoice"></span
                ><span class="mtext">Invoice</span>
              </a>
            </li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <div class="sidebar-small-cap">Extra</div>
            </li>
            <li>
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon dw dw-edit-2"></span
                ><span class="mtext">Documentation</span>
              </a>
              <ul class="submenu">
                <li><a href="introduction.html">Introduction</a></li>
                <li><a href="getting-started.html">Getting Started</a></li>
                <li><a href="color-settings.html">Color Settings</a></li>
                <li>
                  <a href="third-party-plugins.html">Third Party Plugins</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mobile-menu-overlay"></div>

    <!-- main content -->
    <div class="main-container">
      <div class="pd-ltr-20">
        <!-- main content start-->
        {% block content %} {% endblock %}
        <!-- main content end-->

        <!-- footer -->
        <div class="footer-wrap pd-20 mb-20 card-box">
          DeskApp - Bootstrap 4 Admin Template By
          <a href="https://github.com/dropways" target="_blank"
            >Ankit Hingarajiya</a
          >
        </div>
      </div>
    </div>
    <!-- js -->
    <script src="{% static 'vendors/scripts/core.js' %}"></script>
    <script src="{% static 'vendors/scripts/script.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/process.js' %}"></script>
    <script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
    <script src="{% static 'src/plugins/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/dashboard.js' %}"></script>

    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"
    ></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#tablax").DataTable();
      });
    </script>
  </body>
</html>
