{% extends 'base.html' %} {% load static %} {% block title %}Reports - Covid
Report{% endblock %} {% block content %}

<div class="min-height-200px">
  <div class="pd-20 card-box mb-30">
    <table id="tablax" class="table-responsive">
      <thead>
        <tr>
          <th>Country</th>
          <th>Total Cases</th>
          <th>New Cases</th>
          <th>Total Deaths</th>
          <th>New Deaths</th>
          <th>Total Recovered</th>
          <th>New Recovered</th>
          <th>Active Cases</th>
          <th>Serious, Critical</th>
          <th>Tot Cases / 1M pop</th>
          <th>Deaths / 1M pop</th>
          <th>Total Tests</th>
          <th>Test / 1M pop</th>
          <th>Population</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for register in registers %}
        <tr>
          <td>{{register.country}}</td>
          <td>{{register.total_cases}}</td>
          <td>{{register.new_cases}}</td>
          <td>{{register.total_deaths}}</td>
          <td>{{register.new_deaths}}</td>
          <td>{{register.total_recovered}}</td>
          <td>{{register.new_recovered}}</td>
          <td>{{register.active_cases}}</td>
          <td>{{register.serious_critical}}</td>
          <td>{{register.total_cases_per_million}}</td>
          <td>{{register.deaths_per_million}}</td>
          <td>{{register.total_tests}}</td>
          <td>{{register.test_per_million}}</td>
          <td>{{register.population}}</td>
          <td class="row">
            <a href="{% url 'reports:update' register.id %}" class="btn btn-primary col mb-2">Edit</a>
            <a href="{% url 'reports:delete' register.id %}" class="btn btn-danger col">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
